<h1 class="text-bg-primary p-3">Show page</h1>



 <div class="text-bg-dark p-3">
 <h2><%= @list.name %></h2>
</div>

<div style="padding: 10px;">
<%= simple_form_for([@list, @bookmark]) do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.submit %>
<% end %>
</div>
<p class="btn btn-light m-2"><%= link_to "Go back", lists_path %></p>

<div class="text-bg-dark p-3">
  <% @list.bookmarks.each do |bookmark| %>
    <p class="list-group"><%= bookmark.movie.title %></p>
    <p class="list-group">--- <%= bookmark.comment %></p>
    <p class="btn btn-light"><%= link_to "Delete bookmark", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %></p>
  <% end %>
</div>
